<!DOCTYPE html>
<body>
  <!-- _____________________ ADDING IN NAVIGATION BAR __________________________ -->
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="saved">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>

  <!-- __________________________ BODY OF INTEREST PAGE __________________________-->
  <div id="C">
    <div id="X">
      <h2> FIND A BUDDY </h2>
      <div id="Cnav">
        <i class="fa fa-circle" aria-hidden="true" ui-sref="saved" style="opacity: 0.5" ></i>
        <i class="fa fa-circle" aria-hidden="true" ui-sref="buddies"></i>
      </div>

      <!-- __________________DISPLAY INSTRUCTIONS AND ERROR MESSAGE ________________ -->
      <h6>Search for interests and add them to your list to find matching buddies</h6>
        <div id="error" ng-if="errorMessage != ''">{{errorMessage}}</div>

      <!-- ___________________ SEARCH BAR FROM THE INTEREST DATA ___________________ -->
      <div id="C0">
        <input type="text" ng-model="searchInterest" placeholder="Search interest...."/>
        <i ng-click="CaptureInterest()" class="fa fa-plus-circle " aria-hidden="true"></i>
      </div>

      <!-- __________ THE SEARCH BAR TO SEARCH INTEREST THAT ALREADY EXIST __________-->
      <div id="C1wrap">
        <div id="C1" ng-repeat="interest in interestData | filter: searchInterest | emptyifblank: searchInterest">
          <div id="C1A" class="interest" ng-click="AutoFill(interest)">
            {{interest.name}}
            <span>{{interest.count}} likes this</span>
          </div>
        </div>
      </div>


      <!-- _______________ DISPLAY INTEREST WHICH THE USER ALREADY HAS ______________ -->
      <div id="C2">
          <button id="C0A" ng-repeat="x in interestArr">{{x}}<i class="fa fa-times" aria-hidden="true" ng-click="Remove($index)"></i></button>
      </div>


      <div id="C3">
        <button ng-click="SubmitInterest()"> SEARCH FOR BUDDIES </button>
      </div>
    </div>
  </div>
</body>
