<body>
  <!--  ________________________ BOTTOM NAVIGATION BAR ________________________ -->
  <div id="navbar">
    <div class="navcut" ui-sref="profile" style="border-bottom: 10px white solid">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="saved">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>

  <!-- ________________________ CHANGE YOUR INFORMATION  ________________________ -->
  <div id="B">
    <h2> EDIT YOUR INFORMATION </h2>
    <div id="B4">
      <textarea ng-model="description"></textarea>
      <button ng-click="updateBio()"> SUBMIT </button>
  </div>
</body>
