<!DOCTYPE html>
<body>
  <!-- ADDING IN NAVIGATION BAR -->
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="interest">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>

  <!-- BODY OF INTEREST PAGE -->
  <div id="C">
    <h2> FIND A BUDDY </h2>
    <p>Input at least 3 interests to be matched</p>
    <input type="text" ng-model="searchInterest" placeholder="Search interest...."/>
    <div id="C2" ng-repeat="int in interestData | filter: searchInterest | emptyifblank: searchInterest">
      <li ng-repeat="x in interestArr">
        <h3 class="a">{{x}}
        <span ng-click="Remove($index)">X</span></h3>
      </li>
      <div id="C2A">
        {{int.name}}
      </div>
      <div id="C2B">
        <b>{{int.count}} </b>people like this
        <br />
      </div>
    </div>
    <button> SEARCH FOR BUDDIES </button>
  </div>
</body>
