
<!DOCTYPE html>
<html>
<body>
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="buddies">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>

<div id="D">
  <h2> MESSAGES </h2>
  <div id="wrapper">

    <div id="D1" ng-repeat="match in userMatchesArray" ng-click="storeInfo(match.$id)">
      <div id="D1A">
        <img id="{{ 'img-' + $index }}" src="img/loader.gif" ng-src="{{match.pictureUrl}}" /><br />
      </div>
      <div id="D1B">
        <b>{{match.name}} </b><br />
          <div ng-style="checkReadStatus(match)">
            {{match.lastText}}
          </div>
          <br />
          {{match.lastDate}}
      </div>
    </div>
  </div>
</div>




</body>
</html>
