<!DOCTYPE html>
<!-- ADDING IN NAVIGATION BAR -->
<div id="navbar" class="wrap">
  <a ui-sref="profile" ng-click="show=1"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="interest"><i class="fa fa-tag fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="match"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="list"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="settings"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
</div>
