<!DOCTYPE html>
<html>
  <div id="A">
    <form>
      <!-- LABEL FOR EMAIL, PASSWORD & LOGIN BUTTON -->
      <label for="email"></label>
      <input ng-model="txtEmail" type="email" id="email" name="email" placeholder="Email" required>
      <label for="password"></label>
      <input ng-model="txtPassword" ng-change="checkMatch()" type="password" id="password" name="password" placeholder="Password" required>
      <button ng-click="LogUser()">Log In</button><br>

      <!-- LINK TO SIGNUP OR FORGOT PASSWORD -->
      <div>
        <button ui-sref="signup">Sign up</button>
        <a ui-sref="forgotpassword">Forgot your password?</a>
      </div>
    </form>
  </div>
</html>
