<!DOCTYPE html>
<html>
<body>
  <div id="A">
    <div id="A0">
    </div>
    <h1> BUDDY</h1>
      <!-- LABEL FOR EMAIL, PASSWORD & LOGIN BUTTON -->
    <div id="AA">
      <div id="error" ng-if="errorMessage != ''">{{errorMessage}}</div>
      <form>
        <div id="A1">
          <input ng-model="txtEmail" type="email" id="email" name="email" placeholder="EMAIL" required/>
          <label for="password"></label>
          <input ng-model="txtPassword" type="password" id="password" name="password" placeholder="PASSWORD" required/>
        </div>
        <div id="A2">
          <button ng-click="LogUser()">LOGIN</button>
          <p>Don't have an account? <a ui-sref="register">REGISTER!</a></p>
          <p><a ui-sref="forgot">Forgot Password? </a></p>
        </div>
      </form>
      </div>
  </div>
</body>
</html>
