<!DOCTYPE html>
<body>

  <!-- ADDING IN NAVIGATION BAR -->
   <div id="navbar" class="wrap">
     <a ui-sref="profile"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="match"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="interest"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="message"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="settings"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
   </div>

  <!-- HEADER OF MATCH PAGE -->
  <div id="header">
    <h1> MATCHING </h1>
  </div>
  <div>

  </div>


  <!-- CONTENT OF MATCH PAGE -->
  <div id="D">

    <button ng-show="exist == false" ng-click="MatchMe()"> MATCH ME</button>
    <div ng-show="exist == true">
      <p>You have been matched with<br />
      <b>{{BuddyName}}</b></p>
      <img id="buddyProfilePic"/>
      <button class="match" ui-sref="message">MESSAGE YOUR BUDDY</button>
      <p>Your common interests are: <br />
        <b ng-repeat="x in commonInterest">{{x}}, </b></p>

    </div>
  </div>
</body>
