<!DOCTYPE html>
<body>
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="buddies">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>


  <div id="F">
    <div id="back"><i ui-sref="buddies" class="fa fa-chevron-left" aria-hidden="true"></i></div>
    <h2> MATCHES </h2>
    <p><i>Click on a person to view and add them</i></p>
    <div id="F1wrapper">
      <div id="F1" ng-click="storeId(person.uid)" ng-repeat="person in people">
        <img ng-src="{{person.pictureUrl}}" />
        <div id="F1A">
          <b><p>{{person.name}} </b> also likes: </p>
          <button ng-repeat="interest in person.commonInterest">
            {{interest}}
          </button>
        </div>
      </div>
    </div>
  </div>
</body>
