<!DOCTYPE html>
<body>

  <!-- ADDING IN NAVIGATION BAR -->
   <div id="navbar" class="wrap">
     <a ui-sref="profile"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="match"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="interest"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="message"><i class="fa fa-comments fa-lg" aria-hidden="true"></i></a>
     <a ui-sref="settings"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></a>
   </div>

   <!-- HEADER OF MESSAGE PAGE -->
   <div id="header">
     <h1> MESSAGE </h1>
     <ul>
       <li ng-repeat="message in convo">
         {{message.text}}
       </li>
     </ul>
     <form>
       <p>
         <input type="text" ng-model="newmessage.text" />
       </p>
       <button ng-click="insert(newmessage)">Submit</button>
     </form>



   </div>

</body>
