<!DOCTYPE html>
<body>
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-user" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="interest">
      <p><i class="fa fa-handshake-o" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>


 <div id="E">
   <!-- DISPLAY THE PICTURE OF THE PERSON YOU ARE CHATTING WITH -->
    <i ui-sref="list" class="fa fa-chevron-left" aria-hidden="true"> </i>
    <h4> FIRST LAST </h4>
    <img src="https://userscontent2.emaze.com/images/f6c451eb-257f-4f3b-abd4-07c166b0de10/f8541688048ce8c8fdf5b439c0f7be26.jpg" />

    <!-- DISPLAY TEXT MESSAGES FROM PAST CONVERSAION -->
    <div id="E1">
      <div id="Ewrapper">
        <div id="E1A" ng-style="setColor(message)" ng-repeat="message in convo">
          {{message.text}}
          <div id="E1time">
            {{message.formattedTime}}

          </div>
        </div>
      </div>

    <!-- USER CAN INPUT TEXT TO SEND TO THE OTHER USER -->
      <div id="E1B">
        <form>
          <input type="text" placeholder="Type here" ng-model="newmessage.text" />
          <p ng-model="newmessage.sender"></p>
          <p ng-model="newmessage.receiver"></p>
          <button ng-click="insert(newmessage)"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </form>
      </div>
    </div>
</div>
</body>
