<!DOCTYPE html>

<!-- _________________________ ADDING IN NAVIGATION BAR AT THE BOTTOM  ________________________ -->
<div id="navbar" class="wrap">
  <a ui-sref="profile" ng-click="show=1"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="search"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="match"><i class="fa fa-star fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="interest"><i class="fa fa-tag fa-lg" aria-hidden="true"></i></a>
  <a ui-sref="list"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i></a>
</div>

<body>
  <div id="I">
    <!-- ________________NAV BAR TO RESOURCES PAGE AND EDIT PROFILE _________-->

    <div id="I1">
      <img id="buddyProfilePic" src="img/default.png" /><br />
      <button ng-click="message()"> MESSAGE </button>
    </div>

    <!-- ______________________ THIS DIV WILL BE THE BIO OF OTHER _______________________________ -->
      <div id="C3">
        <h2> PROFILE </h2>
        <h5>
          <b><i class="fa fa-caret-right" aria-hidden="true"></i> Name: </b> {{buddyName}} <br />
          <b><i class="fa fa-caret-right" aria-hidden="true"></i> Age: </b> {{buddyAge}}   <br />
          <b><i class="fa fa-caret-right" aria-hidden="true"></i> Bio: </b>{{buddyDescription}}
        </h5>
        <h2> INTEREST </h2>
        <div id="C3A">
          <h5 ng-repeat="i in buddyArr"><i class="fa fa-caret-right" aria-hidden="true"></i> {{i}}</h5>
        </div>
      </div>
    </div>
</body>
