<!DOCTYPE html>
<html>
<body>
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="buddies">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>
  <div id="B">
      <div id="B0" style="margin-top: 10%">
        <label for="file">UPLOAD <br /> GODDAMN <br /> PICTURE </label>
        <input type="file" name="file" id="file" custom-on-change="uploadFile" />
        <div id="imgwrapper">
            <img id="buddyProfilePic" ng-src="{{userProfilePic}}" />
        </div>
        <h3>{{name}}</h3>
        <p>{{age}} years old </p>
      </div>
      <div id="B1A">
        {{description}}
      </div>
      <div id="B1">
        <button ng-repeat="x in interestArr">{{x}}</button>
     </div>
  </div>
</body>
</html>
