<div ng-if="errorpopup != '' " class="eoko-popup-error-message">{{errorpopup}}</div>

<form style="text-align: center">

    <!--email field-->
    <label for="email"></label>
    <input ng-model="txtEmail" type="email" id="email" name="email" placeholder="Email" required>

    <!--name field-->
    <label for="name"></label>
    <input ng-model="txtName" type="text" id="name" name="name" placeholder="Name" required>



    <!--password field-->
    <label for="password"></label>
    <input ng-model="txtPassword" ng-change="checkMatch()" type="password" id="password" name="password"
           placeholder="Password" required>

    <!--Register button-->
    <button ng-click="RegisterUser()">Register</button><br>


</form>
