<!DOCTYPE html>
<html>
<body>
  <div id="A">
    <i ui-sref="login" class="fa fa-chevron-left" aria-hidden="true"></i>
    <div id="A2">
        <img src="img/download.png" />
        <h1> BUDDY PROJECT </h1>
        <form>
          <input ng-model="txtName" type="text" placeholder="NAME" />
          <input ng-model="txtAge" type="text" placeholder="AGE"/>
          <input ng-model="txtEmail" type="email" placeholder="E-MAIL" />
          <input ng-model="txtPassword" type="password" placeholder="PASSWORD"/>
          <button ng-click="RegisterUser()"> SIGN UP </button>
        </form>
    </div>
  </div>
</body>
</html>
