<div id="navbar">
  <div class="navcut" ui-sref="profile">
    <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
    <h3> PROFILE </h3>
  </div>
  <div class="navcut" ui-sref="saved">
    <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
    <h3> BUDDIES </h3>
  </div>
  <div class="navcut" ui-sref="list">
    <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
    <h3> MESSAGE </h3>
  </div>
  <div class="navcut" ui-sref="settings">
    <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
    <h3> SETTINGS </h3>
  </div>
</div>

<div id="I">
  <h2> RESOURCES </h2>
  <a href="http://www.buddy-project.org/hotlines/" target="blank"><button> HOTLINES </button></a>
  <a href="http://www.buddy-project.org/anxiety/" target="blank"><button> ANXIETY </button></a>
  <a href="http://www.buddy-project.org/alternatives/" target="blank"><button> SELF HARM ALTERNATIVES </button></a>
  <a href="http://www.buddy-project.org/triggers/" target="blank"><button> TRIGGERS IN SHOW & MOVIES </button></a>
  <a href="http://www.buddy-project.org/helpful-websites/" target="blank"><button> HELPFUL WEBSITES </button></a>

</div>
