<!DOCTYPE html>
<body>
  <div id="navbar" class="wrap">
    <a ui-sref="profile" ng-click="show=1"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="search"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="match"><i class="fa fa-star fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="interest"><i class="fa fa-tag fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="message"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i></a>
  </div>

  <div id="header">
    <h1>SEARCH INTERESTS</h1>
  </div>

  <div id="K">
    <input type="text" ng-model="searchInterest" placeholder="Search interest...."/>
    <!-- <div id="K1">
      <label for="nameRadio"> Search by Name</label>
      <input type="radio" id="nameRadio" name="choice"/><br /><br />
      <label for="nameRadio"> Search by Email</label>
      <input type="radio" id="emailRadio"  name="choice"/>
    </div> -->
    <br />
    <div id="K2" ng-repeat="int in interestData | filter: searchInterest">
      {{int.name}}
      <div>
        {{int.count}} people likes this
        <br />
        {{int.match}} matches have this interest
      </div>
    </div>

  </div>
</body>
