<!DOCTYPE html>
<body>
  <div id="navbar" class="wrap">
    <a ui-sref="profile" ng-click="show=1"><i class="fa fa-user fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="search"><i class="fa fa-globe fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="match"><i class="fa fa-star fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="interest"><i class="fa fa-tag fa-lg" aria-hidden="true"></i></a>
    <a ui-sref="message"><i class="fa fa-commenting fa-lg" aria-hidden="true"></i></a>
  </div>

  <div id="header">
    <h1>SEARCH INTERESTS</h1>
  </div>

  <div id="K">
    <div id="K1">
        <input type="text" ng-model="searchInterest" placeholder="Search interest...."/>
    </div>
    <br />
    <div id="K2" ng-repeat="int in interestData | filter: searchInterest | emptyifblank: searchInterest">
      <div id="K2A">
        {{int.name}}
      </div>
      <div id="K2B">
        <b>{{int.count}} </b>people like this
        <br />
      </div>
    </div>

  </div>
</body>
