<!DOCTYPE html>
<body>

  <div id="H">
    <div id="H1"><button ui-sref="profile">X</button></div>
    <h2> CHANGE PASSWORD </h2>
    <div id="success" ng-if="successMessage != ''">{{successMessage}}</div>
    <div id="error" ng-if="errorMessage != ''">{{errorMessage}}</div>
      <form>
        <input type="password" ng-model="oldPassword" placeholder="Current Password" />
        <input type="password" ng-model="newPassword1" placeholder="New Password"/>
        <input type="password" ng-model="newPassword2" placeholder="Retype Password"/>
        <button ng-click="resetPassword()"> SUBMIT </button>
      </form>
    <br />
    <h2> LOGOUT</h2>

    <button> REPORT A PROBLEM</button>
    <button ng-click="LogOutUser()"> LOGOUT </button>
  </div>
</body>
