<!DOCTYPE html>
<body>
  <div id="navbar">
    <div class="navcut" ui-sref="profile">
      <p><i class="fa fa-address-book-o" aria-hidden="true"><br /></i></p>
      <h3> PROFILE </h3>
    </div>
    <div class="navcut" ui-sref="buddies">
      <p><i class="fa fa-users" aria-hidden="true"><br /></i></p>
      <h3> BUDDIES </h3>
    </div>
    <div class="navcut" ui-sref="list">
      <p><i class="fa fa-commenting-o" aria-hidden="true"><br /></i></p>
      <h3> MESSAGE </h3>
    </div>
    <div class="navcut" ui-sref="settings">
      <p><i class="fa fa-cog" aria-hidden="true"><br /></i></p>
      <h3> SETTINGS </h3>
    </div>
  </div>

  <div id="H" >
    <h2> SETTINGS </h2>
    <div id="success" ng-show="successMessage">{{successMessage}}</div>
    <div id="error" ng-if="errorMessage != ''">{{errorMessage}}</div>
    <div id="H1">
      <form id="H2">
        <input type="password" ng-model="oldPassword" placeholder="Current Password" />
        <input type="password" ng-model="newPassword1" placeholder="New Password"/>
        <input type="password" ng-model="newPassword2" placeholder="Retype Password"/>
        <button ng-click="resetPassword()"> SUBMIT </button>
      </form>
      <button ng-click="LogOutUser()"> LOGOUT </button>
      <a href="http://www.buddy-project.org/contact/"><p><u> Report a problem</u></p></a>
    </div>
  </div>
</body>
