@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
html, body{
  margin: 0;
}


/* ------------------------------------ MAIN COMPONENTS------------------------------------ */
#error{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 150%;
  margin-bottom: 3%;
}


input:focus{
  outline: #4F62AD ;
}


/* ------------------------------------ NAVIGATION BAR------------------------------------ */
#navbar{
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  height: 10%;
  display: flex;
}


#navbar i{
  color: white;
  font-size: 500%;
}

.navcut{

}

/* ------------------------------------ LOGIN / REGISTRATION BACKGROUND------------------------------------ */
#A{
  background: url(img/BGlogin.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

#A h1{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
  font-size: 400%;
  font-weight: bold;
}

#A input{
  background: none;
  border: 1px white solid;
  display: block;
  margin: auto;
  width: 75%;
  height: 80px;
  margin-bottom: 3%;
  color: white;
  font-size: 200%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 20px;
}


#A input::placeholder{
  color: white;
}

/* ------------------------------------ LOGIN AND REGISTRATION PAGE ------------------------------------ */

#A1{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#A1 img{
  display: block;
  margin: auto;
  width: 40%;
  object-fit: cover;
}


#A1 button, #A2 button{
  background-color: #4F62AD;
  width: 80%;
  color: white;
  border: none;
  display: block;
  margin: auto;
  font-size: 200%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: lighter;
}

#A1 p{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 170%;
  font-weight: 50;
  line-height: 2em;
}

#A1A{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
}

#A1A p{
  display: inline-block;
  margin-right: 2%;
  font-size: 170%;
}
#A1A button{
  background-color: #7AB74D;
  width: 30%;
  display: inline-block;
  border-radius: 10px;
  font-size: 180%;
}

#A i{
  padding-top: 10%;
  padding-left: 5%;
  color: white;
  font-size: 500%;
}

#A2 img{
  display: block;
  margin: auto;
  width: 30%;
  object-fit: cover;
}

#A2 button{
  background-color: #7AB74D;
}



/* ------------------------------------ PROFILE PAGE ------------------------------------ */
#B{
  background: url(img/BGprofile.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}
