@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');
@import url('https://fonts.googleapis.com/css?family=Palanquin+Dark:700');


html, body{
  margin: 0;
}


/* ------------------------------------ TEXT FONT -------------------------------------------- */
h1{
  font-family: 'Palanquin Dark', sans-serif;
  color: white;
  text-align: center;
  font-size: 500%;
  font-weight: bold;
}

h2{
  font-family: 'Palanquin Dark', sans-serif;
  color: white;
  font-size: 400%;
  text-align: center;
  font-weight: 900;
  margin-bottom: 0px;
}

h3{
  font-family: 'Palaquin Dark', sans-serif;
  color: white;
  font-size: 300%;
  text-align: center;
  margin-bottom: 0px;
  text-transform: uppercase;
}

h4{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 300%;
  text-align: center;
  margin-top: -50px;
  margin-bottom: 20px;
}

h5{
  width: 100%;
  position: fixed;
  text-align: center;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 250%;
  font-style: italic;
}

h6{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 250%;
  font-style: italic;
  text-align: center;
  margin-top: 0px;
}

/* --------------------------------------- INPUT STYLING --------------------------------------- */

input:focus{
  outline: #4F62AD ;
}

input::placeholder, textarea::placeholder{
  color: white;
}

input{
  background: none;
  border: 1px white solid;
  display: block;
  margin: auto;
  width: 75%;
  height: 80px;
  margin-bottom: 3%;
  color: white;
  font-size: 300%;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 20px;
}

#error, #success{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 240%;
  margin-bottom: 3%;
  color: white;
}



/* --------------------------------------- BUTTON STYLING ----------------------------------- */
button{
  background-color: #4F62AD;
  width: 80%;
  color: white;
  border: none;
  display: block;
  margin: auto;
  font-size: 300%;
  padding-top: 4%;
  padding-bottom: 4%;
  font-family: 'Source Sans Pro', sans-serif;
}

/* --------------------------------------- NAVIGATION BAR------------------------------------ */
#navbar{
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 0px;
  height: 12%;
  display: flex;
}


#navbar i{
  color: white;
  font-size: 400%;
  text-align: center;
}

#navbar p{
  color: white;
  text-align: center;
  margin-bottom: -10px;
}

#navbar h3{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 200%;
  text-align: center;
}

.navcut{
  width: 25%;
}




/* -------------------------------- MISCELLANEOUS --------------------------------- */

/* ----- BACK BUTTON ----- */
#back{
  padding-top: 10%;
  padding-left: 5%;
  color: white;
  font-size: 700% ;
  z-index: 5;
}

#resources i{
  color: white;
  font-size: 500%;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
}

#imgwrapper{
  border: 1px white solid;
  border-radius: 250px;
  width: 300px;
  padding: 3%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
}

#imgwrapper img{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 200px;
}


#add{
  background: white;
  font-size: 300%;
  color: #4F62AD;
  border-radius: 100px;
  padding: 3%;
  position: fixed;
  margin-left: 63%;
  margin-top: 100px;

}


/* --------- INTEREST TAG ---------------- */
#B1 button, #C2 button, #F1A button{
  width: auto;
  display: inline-block;
  background: none;
  border: 0.5px white solid;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 300%;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;
}



/* -------------------------------- LOGIN PAGE ------------------------------- */
#A{
  background: url(img/BGlogin.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  overflow: auto;
  padding-bottom: 5%;
  z-index: -2;
}


#A1, #A2{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#A img{
  display: block;
  margin: auto;
  width: 40%;
  object-fit: cover;
}

#A p{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 250%;
  font-weight: 50;
}


/* -------------- CREATE ACCOUNT TAGLINE ON LOGIN PAGE ---------------- */
#A1A{
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
}

#A1A p{
  display: inline-block;
  margin-right: 2%;
  font-size: 250%;
}

#A1A button{
  background-color: #7AB74D;
  width: 30%;
  display: inline-block;
  border-radius: 10px;
  font-size: 300%;

}

/* ----------------------------------- REGISTRATION PAGE ------------------------------- */
#A2 img{
  margin-top: -150px;
  width: 30%;
}


/* ------------------------------- FORGOT PASSWORD PAGE ------------------------------- */
#A3{
  position: relative;
  top: 40%;
  transform: translateY(-60%);
  z-index: -1;
}

#A3 p{
  padding-left: 10%;
  padding-right: 10%;
}


/* ----------------------------------------------- PROFILE PAGE ------------------------------------ */
#B{
  background: url(img/blur.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  z-index: -2;
}

#B label{
  position: fixed;
  margin-left: 63%;
  margin-top: 100px;
  font-size: 100%;
  font-size: 200%;
  opacity: 0;
}

#B input[type="file"]{
  opacity: 0;
}

/* ------------- THIS DISPLAY NAME AND AGE OF THE USER ---------- */

#B0 p{
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 200%;
  text-align: center;
  margin-top: 0px;
}

/* ---------- DESCRIPTION BOX -------------------- */
#B1A{
  font-size: 300%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  border: 0.9px solid white;
  margin-right: 15%;
  margin-left: 15%;
  height: 100px;
  margin-bottom: 20px;
  padding: 3%;
  border-radius: 5px;
  overflow: auto;
  overflow-x: hidden;
}

/* ------------- THIS DISPLAY ALL THE USER INTEREST TAGS ---------- */
#B1{
  margin-left: 15%;
  margin-right: 10%;
}

/* ------------------------------------ EDIT PAGE ------------------------------------ */
#B4 textarea{
  font-size: 300%;
  background: transparent;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 20px;
  border: none;
  border: 0.5px white solid;
  width: 69.5%;
  display: block;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  padding: 3%;
}

#B4 button{
  width: 75%;
}


/* -------------------------------------- BUDDIES PAGE ------------------------------------ */
#C{
  background: url(img/BGbuddys.png);
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;

}

#C input{
  width: 65%;
  float: left;
  margin-left: 10%;
}

/* NAVIGATION BAR*/
#Cnav i{
  color: white;
  font-size: 200%;
}

#C i, #F i{
  margin-left: 10px;
}

#Cnav{
  padding-left: 45%;
  margin-bottom: 50px;
}

#C0 i{
  font-size: 350%;
  color: white;
  padding: 2%;
}

/* THIS IS WHERE THE SEARCH INFORMATION WILL DISPLAY*/
#C1wrap{
  max-height: 200px;
  overflow: auto;
  width: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

#C1{
  padding-left: 2%;
  width: 65%;
}

#C1A{
  font-size: 300%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

#C1A span{
  display: block;
  float: right;
  font-size: 90%;
}

/* THIS IS WHERE THE USER INTEREST WILL BE DISPLAY */
#C2{
  padding-top: 5%;
  margin-left: 12%;
  height: 290px;
  overflow: auto;
  margin-right: 10%;
  position: absolute;
}

/* SEARCH FOR BUDDY BUTTON */
#C3{
  position: fixed;
  width: 100%;
  bottom: 20%;
}

/* -------------------------------------- LIST PAGE ----------------------------------- */
#D{
  background: url(img/BGmessages.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  /*overflow-x: hidden; */

}

#D1{
  display: flex;
  width: 80%;
  margin-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}


#D1B{
  width: 100%;
  font-size: 300%;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  padding-left: 10%;
}

#D1B b{
  font-weight: 900;
}


#D1A img{
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100px;
}


#wrapper{
  max-height:65%;
  overflow:auto;
  width:100%;
  padding-top: 5%;
  padding-bottom: 5%;
}



/* ----------------------------------- MESSAGE PAGE ------------------------------------ */
#E{
  background: url(img/BGmessages.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

#E h4{
  font-size: 350%;
}

#E img{
  width: 170px;
  height: 170px;
  border-radius: 100px;
  display: block;
  margin: auto;
  object-fit: cover;
  margin-bottom: 3%;
}


#E input{
  width: 70%;
  float: left;
  margin-left: 5%;
  font-size: 300%;

}

#E1{
  position: fixed;
  width: 100%;
}

#Ewrapper, #F1wrapper{
  padding-top: 5%;
  padding-bottom: 5%;
  overflow: auto;
}

#Ewrapper{
  position: relative;
  height: 700px;
}


#E1A{
  padding: 5%;
  font-size: 300%;
  font-family: 'Source Sans Pro',  sans-serif;
  opacity: 0.9;
  border-radius: 10px;
}

#E1B{
  padding-left: 3%;
  width: 100%;
  position: fixed;
  bottom: 5%;
}

#E1B button{
  display: inline-block;
  margin-left: 3%;
  height: 80px;
  width: 80px;
  border: none;
  background: white;
  padding: 0%;
}


#E1B i{
  color: #4F62AD;
}


/* ------------------------------------- MATCH PAGE ------------------------------------ */
#F{
  background: url(img/BGmatches.png);
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  padding-top: 5%;
}

#F h2{
  margin-top: -50px;
}

#F p{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin-top: 0px;
  font-size: 250%;
  margin-left: 10%;
  margin-right: 10%;
}

#F img, #G1 img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  object-fit: cover;
  margin-left: 10%;
}

#F1wrapper{
  height: 55%;
  overflow: auto;
}

#F1{
  display: flex;
  margin-bottom: 10%;
}

#F1 b{
  font-family: 'Noto Sans', sans-serif;
}

#F1A{
  padding-left: 5%;
  padding-right: 5%;
}

#F1A p{
  margin-left: 0px;
  margin-right: 20px;
  font-size: 300%;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

/* ------------------------------------- SAVED BUDDIES ------------------------------------ */
#G1{
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

#G1wrapper{
  position: absolute;
  width: 100%;
  height: 60%;
  overflow: auto;
}

#G1A{
  font-size: 300%;
  margin-left: 7%;
}

/* ------------------------------------- SETTINGS PAGE ------------------------------------ */
#H{
  background: url(img/BGsettings.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  padding-top: 5%;
}

#H1{
  margin-top: 10%;
}

#H2{
  margin-bottom: 10%;
}

#H2 button{
  background-color: #7AB74D;
}


/* ------------------------------------- RESOURCES PAGE ------------------------------------ */
#I{
  background: url(img/BGsettings.png);
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  padding-top: 5%;
}

#I button{
  display: block;
  margin: auto;
  width: 70%;
  font-size: 350%;
  color: white;
  margin-bottom: 20px;
  background: none;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: rgba(255,255,255,0.3);
  padding: 3%;
}

#I a{
  text-decoration: none;
}



@media only screen and (max-height: 1300px) {
  #navbar{
    display: none;
  }
  #C3{
    display: none;
  }

  /*#Ewrapper{
    top: 10%;
    transform: translateY(-90%);
    margin-top: 200px;
    height: 100px;
  }*/

  #Ewrapper{
    display: none;
  }

}
